:root {
  --backgroundColor: #202020;
  --baseColor: white;
  --colorTwo: #6e6e6e;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  background: var(--backgroundColor);
  color: var(--baseColor);
}

h1 {
  font-size: 3rem;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 0.5rem;
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: var(--colorTwo);
}

h1,
h2 {
  margin: 0 0 0.5rem;
}

p,
li {
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: var(--baseColor);
  font-size: 1rem;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.hero {
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: none;
  padding: 0;
}

.title-header {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  height: 100%;
  color: var(--baseColor);
  padding: 10vh 1rem;
  margin: 0 auto;
  max-width: 1400px;
}

section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

/******v Select Theme ******/

.top {
  padding: 1rem;
}

option {
  color: var(--colorTwo);
  background-color: -1;
  font-family: "Cinzel", serif;
  font-weight: 400;
}

select {
  border: 1px solid currentColor;
  background: transparent;
  font-family: "Cinzel", serif;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  cursor: pointer;
}

select,
label,
option {
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: currentColor;
  font-size: 1rem;
}

option {
  color: var(--colorTwo);
}

[data-house="Default"] {
  --backgroundColor: #202020;
  --baseColor: white;
  --colorTwo: #6e6e6e;
}

[data-house="Gryffindor"] {
  --backgroundColor: #5c0000;
  --baseColor: #ffc500;
  --colorTwo: #890000;
}

[data-house="Hufflepuff"] {
  --backgroundColor: #f0c75e;
  --baseColor: #000000;
  --colorTwo: #8a7766;
}

[data-house="Ravenclaw"] {
  --backgroundColor: #e2e2e2;
  --baseColor: #09004e;
  --colorTwo: #b96d22;
}

[data-house="Slytherin"] {
  --backgroundColor: Black;
  --baseColor: #3d8957;
  --colorTwo: #c0c0c0;
}

.logo {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: 400px;
  background-image: var(--house-crest);
}

td .logo {
  max-width: 1.5rem;
  margin: 0.25rem 0.25rem 0.25rem 0;
}

/****** Select Theme - End ******/

/***** Table ******/

table {
  font-size: 1rem;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  color: var(--baseColor);
  border: 1px solid var(--colorTwo);
}

td,
th {
  padding: 0.25rem;
  text-align: left;
  margin: 0;
}

.house {
  padding: 0 0 0 0.125rem;
  margin: 0;
}

.logo-box {
  padding: 0 0.125rem 0 0;
  margin: 0;
}

/* tbody tr:nth-child(1n){
  background-color: white;
}

tbody tr:nth-child(2n){
  background-color: #eee;s
} */

th {
  position: sticky;
  top: 0;
  font-weight: 700;
  background-color: var(--colorTwo);
}

.inquisitor {
  text-align: center;
}

/*------------------- Pop-Up -------------------*/
#detalje {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 99;
  height: 100%;
  width: 100%;
}

#detalje .close-btn {
  font-size: 2rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  position: fixed;
  min-width: initial;
  top: 1rem;
  right: 5vw;
  color: inherit;
  cursor: pointer;
}

.popup-content {
  width: 100vw;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* __________________ Grid - tidligere ___________________*/

/* .auto-grid {
  --auto-grid-min-size: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
  padding: 1rem;
} */

/* .student-card {
  text-align: center;
  background: var(--colorTwo);
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 0.5rem;
  position: relative;
  box-shadow: none;
  transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
  cursor: pointer;
  padding: 1rem;
}

.student-card:hover,
.student-card:focus-within {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem);
  cursor: pointer;
} */

/* __________________ Modal - tidligere ___________________*/

/* .persondata {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.persondata li{
  text-transform: capitalize;
  padding: 0;
  text-align: center;
}

.name {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  color: var(--baseColor);
} */

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: calc(4rem + 2vw);
  }
}

@media only screen and (min-width: 1000px) {
}
